<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">
            Processing...
          </h5>
          <ul id="dish-list" class="list-group">
            {{#each dishes}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="dish/{{this.id}}">{{this.text}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>-->
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">
            Ready For Pick Up!
          </h5>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>